{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Añadir un nuevo jugador {% endblock %}</h1>
    <form method="post">
        <p>
            <label for="player_name">Nombre del jugador</label>
            <input type="text" name="player_name"
                   placeholder="payer name">
            </input>
        </p>

        <p>
            <label for="phone_number">Numero de teléfono</label>
            <input type="number" name="phone_number"
                   placeholder="player phone">
            </input>
        </p>

        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}


