{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Añadir un nuevo partido {% endblock %}</h1>
    <form method="post">
        <p>
            <label for="team1_id">Equipo 1 id</label>
            <input type="number" name="team1_id"
                   placeholder="Id del equipo 1">
            </input>
        </p>
        <p>
            <label for="team2_id">Equipo 2 id</label>
            <input type="number" name="team2_id"
                   placeholder="Id del equipo 2">
            </input>
        </p>
        <p>
            <label for="team1_score">Equipo 1 puntos</label>
            <input type="number" name="team1_score"
                   placeholder="Puntuacion del equipo1">
            </input>
        </p>
        <p>
            <label for="team2_score">Equipo 2 puntos</label>
            <input type="number" name="team2_score"
                   placeholder="Puntuacion del equipo2">
            </input>
        </p>
        <p>
            <label for="facility_id">facility_id</label>
            <input type="number" name="facility_id"
                   placeholder="id del complejo">
            </input>
        </p>
        <p>
          <label for="match_date">fecha del partido</label>
          <input type="date" name="match_date"
              placeholder="nueva fecha del partido ">
          </input>
        </p>
        <p>
            <label for="tournament_id">tournament_id</label>
            <input type="number" name="tournament_id"
                   placeholder="id del torneo">
            </input>
        </p>

        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}
